/***********
 * GLOBALS *
 ***********/

a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/************
 * CONTENTS *
 ************/

.cover {
  padding-top: 40px;
  display: block;
  position: fixed;
  left: 20px;
  right: 20px;
  text-align: left;
}

.cover-heading {
  font-weight: 900;
  text-align: center;
}

.content {
  position: absolute;
  z-index: 5000;
}

.backimg {
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  bottom:0;
  z-index: 1;

  display: block;
  background-image: url("../img/backtest.jpg");
  background-origin: 0 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  
  -webkit-filter: blur(5px) brightness(50%);
  -moz-filter: blur(5px) brightness(50%);
  -o-filter: blur(5px) brightness(50%);
  -ms-filter: blur(5px) brightness(50%);
  filter: blur(5px) brightness(50%);
}

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/**************
 * STRUCTURES *
 **************/

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.nospace {
  padding-top: 0px;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 700%;  
}
.site-wrapper-inner {
  display: static;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.masthead {
  background: linear-gradient(to bottom, rgba(51,51,51,1) 0%,rgba(0,0,0,1) 36%,rgba(0,0,0,1) 75%,rgba(0,0,0,0) 100%); /* W3C */
  padding-bottom: 16px;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
}

/**********
 * Header *
 **********/

.masthead-nav > li {
  display: inline-block;
  float: none;
  height: 20px;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 3px solid transparent;
  border-bottom-style: ridge;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}
