/***********
 * GLOBALS *
 ***********/

p {
	font-family: 'Skolar', Georgia, serif;
	font-size: 1.5em;
	line-height: 1em;
	font-weight: 200;
	margin-top: 30px;
}

p a {
	display: inline-block;
	border-bottom: 1px solid #fff;
	line-height: 1em;
}

p a:hover {
	text-decoration: none;
	border-bottom: 2px solid #fff;
}

p a:active {}

h1, .h1 {
	font-size: 5.9em;
	line-height: 1.15em;
	color: #fff;
}

h2, .h2 {
	font-size: 3.5em;
	line-height: 1.2em;
	color: #fff;
	text-align: center;
}

h3, .h3 {
	font-size: 2.6em;
	line-height: 1.5em;
	color: #fff;
}

h4 {
  line-height: 0.5em;
}

h5 {
  line-height: 0;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 1px solid #fff;
}

#copyright {
  color: #ccc;
}

#credits {
  color: #777;
}

.outer {
  padding: 10px 0 10px 0;
  display: block;
  vertical-align: middle;
  position: static;
}


/************
 * CONTENTS *
 ************/

.contact-img {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 2px;
  margin-right: 2px;
}

.contact-img-gmail {
  width: 44px;
  height: 32px;
  background-image: url('../img/gmail.png');
}

.contact-img-github {
  width: 120px;
  height: 32px;
  background-image: url('../img/github.png');
}

/***** HEADER *****/

.header {
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 36%,rgba(0,0,0,1) 75%,rgba(0,0,0,0) 100%);
  padding-bottom: 24px;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 9999;
}

.header-nav > li {
  display: inline-block;
  float: none;
  height: 20px;
}
.header-nav > li + li {
  margin-left: 26px;
}
.header-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 3px solid transparent;
}
.header-nav > li > a:hover,
.header-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.header-nav > .active > a,
.header-nav > .active > a:hover,
.header-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

/***** MEDIA QUERIES *****/

@media screen and (max-width: 700px){
  
  .static-img {
    background-size: cover!important;
    background-attachment: scroll!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    display: block!important;
    position: relative!important;
  }

  h1, .h1 {
    font-size: 3.5em;
    line-height: 1.15em;
    color: #fff;
  }

  h2, .h2 {
    font-size: 3em;
    line-height: 1.2em;
    color: #fff;
    text-align: center;
  }

  h3, .h3 {
    font-size: 1.5em;
	line-height: 1.5em;
	color: #fff;
  }
  
  .contact-img-gmail {
    width: 28px;
    height: 20px;
  }

  .contact-img-github {
    width: 76px;
    height: 20px;
  }
  
}