body {
  background-color: #f8f8f8;
  font-family: 'helvetica'; }

h1 {
  font-family: 'helvetica th'; }

h2 {
  font-family: 'helvetica hv'; }

.container {
  overflow: hidden !important; }

/*** Navbar ***/
.navbar {
  background-color: #fff;
  width: 100%; }

.navbar-border {
  border: 2px solid #3399ff;
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding: 0; }

.navbar .navbar-load {
  border: 2px solid transparent;
  margin: 0 auto;
  position: relative;
  width: 50%;
  padding: 0;
  margin-top: -4px; }

.navbar.load .navbar-load {
  -webkit-animation: loadbar 2s linear infinite; }

.navbar.load .navbar-border {
  -webkit-animation: loadcolor 2s linear infinite; }

@-webkit-keyframes loadbar {
  0% {
    border-color: #00c100;
    width: 0%; }

  33.3% {
    border-color: #00c100;
    width: 100%; }

  33.4% {
    border-color: #ff6633;
    width: 0%; }

  66.6% {
    border-color: #ff6633;
    width: 100%; }

  66.7% {
    border-color: #3399ff;
    width: 0%; }

  100% {
    border-color: #3399ff;
    width: 100%; } }

@-webkit-keyframes loadcolor {
  0% {
    border-color: #3399ff; }

  33.3% {
    border-color: #3399ff; }

  33.4% {
    border-color: #00c100; }

  66.6% {
    border-color: #00c100; }

  66.7% {
    border-color: #ff6633; }

  100% {
    border-color: #ff6633; } }

/*** Brand ***/
.navbar-brand {
  padding-top: 0;
  font-size: 1.9em;
  font-family: 'helvetica lt';
  color: #222 !important; }

.navbar-brand.name {
  padding-top: 19px;
  margin-right: 12px;
  font-family: 'helvetica'; }

.navbar-brand img {
  width: 50px;
  border-radius: 50%; }

.navbar-right li {
  padding-left: 6px;
  margins: 0px; }

.navbar-nav .p.active, .navbar-nav .p.active:hover, .navbar-nav .p.active:focus, .navbar-nav .p.active:visited {
  background-color: #3399ff;
  color: #fff; }

.navbar-nav .e.active, .navbar-nav .e.active:hover, .navbar-nav .e.active:focus, .navbar-nav .e.active:visited {
  background-color: #00c100;
  color: #fff; }

.navbar-nav .c.active, .navbar-nav .c.active:hover, .navbar-nav .c.active:focus, .navbar-nav .c.active:visited {
  background-color: #ff6633;
  color: #fff; }

button {
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s; }

.form-group .fa-search {
  margin-right: 4px;
  font-size: 1.2em;
  height: 32px;
  width: 32px;
  text-align: center;
  line-height: 32px;
  text-decoration: none; }

/*** Links ***/
a {
  color: #3399ff;
  text-decoration: none; }

a:hover {
  color: #2375c7; }

/*** Forms and Buttons ***/
.form-control, .btn {
  border-radius: 0;
  box-shadow: none; }

.form-control:focus, .btn:focus {
  border-color: #3399ff;
  box-shadow: none; }

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.activhtml, body {
  width: 100%;
  height: 100%; }

/*** LOADER ***/
.loader {
  -webkit-animation: spin 1.2s linear infinite;
  border: 3px solid transparent;
  border-radius: 50%;
  height: 50px;
  margin: 0 auto;
  position: relative;
  width: 50px; }
  .loader div {
    border: inherit;
    border-radius: inherit;
    bottom: -3px;
    left: -3px;
    position: absolute;
    right: -3px;
    top: -3px; }
  .loader :nth-child(1) {
    -webkit-animation: spin 1s linear infinite;
    border-top-color: #ff6633;
    transform: rotate(120deg); }
  .loader :nth-child(2) {
    -webkit-animation: spin 2s linear infinite;
    border-top-color: #00c100;
    transform: rotate(240deg); }
  .loader :nth-child(3) {
    -webkit-animation: spin 1.2s linear infinite;
    border-top-color: #3399ff; }

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(360deg); } }

/*** SEARCH BOX ***/
input[type=search] {
  width: 0px !important;
  opacity: 0;
  cursor: default;
  -webkit-transition: all .5s;
  transition: all .5s; }

input[type=search]:focus {
  width: 200px !important;
  opacity: 1;
  cursor: text; }
