/* line 15, /home/arthur/git/website-node/sass/main.scss */
body {
  background-color: #f8f8f8;
  font-family: 'helvetica'; }

/* line 20, /home/arthur/git/website-node/sass/main.scss */
h1 {
  font-family: 'helvetica th'; }

/* line 23, /home/arthur/git/website-node/sass/main.scss */
h2 {
  font-family: 'helvetica hv'; }

/* line 27, /home/arthur/git/website-node/sass/main.scss */
.container {
  overflow: hidden !important; }

/*** Navbar ***/
/* line 30, /home/arthur/git/website-node/sass/main.scss */
.navbar {
  background-color: #fff;
  width: 100%; }

/* line 34, /home/arthur/git/website-node/sass/main.scss */
.navbar-border {
  border: 2px solid #3399ff;
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding: 0; }

/* line 41, /home/arthur/git/website-node/sass/main.scss */
.navbar .navbar-load {
  border: 2px solid transparent;
  margin: 0 auto;
  position: relative;
  width: 50%;
  padding: 0;
  margin-top: -4px; }

/* line 49, /home/arthur/git/website-node/sass/main.scss */
.navbar.load .navbar-load {
  -webkit-animation: loadbar 2s linear infinite; }

/* line 50, /home/arthur/git/website-node/sass/main.scss */
.navbar.load .navbar-border {
  -webkit-animation: loadcolor 2s linear infinite; }

@-webkit-keyframes loadbar {
  /* line 52, /home/arthur/git/website-node/sass/main.scss */
  0% {
    border-color: #00c100;
    width: 0%; }

  /* line 53, /home/arthur/git/website-node/sass/main.scss */
  33.3% {
    border-color: #00c100;
    width: 100%; }

  /* line 54, /home/arthur/git/website-node/sass/main.scss */
  33.4% {
    border-color: #ff6633;
    width: 0%; }

  /* line 55, /home/arthur/git/website-node/sass/main.scss */
  66.6% {
    border-color: #ff6633;
    width: 100%; }

  /* line 56, /home/arthur/git/website-node/sass/main.scss */
  66.7% {
    border-color: #3399ff;
    width: 0%; }

  /* line 57, /home/arthur/git/website-node/sass/main.scss */
  100% {
    border-color: #3399ff;
    width: 100%; } }

@-webkit-keyframes loadcolor {
  /* line 60, /home/arthur/git/website-node/sass/main.scss */
  0% {
    border-color: #3399ff; }

  /* line 61, /home/arthur/git/website-node/sass/main.scss */
  33.3% {
    border-color: #3399ff; }

  /* line 62, /home/arthur/git/website-node/sass/main.scss */
  33.4% {
    border-color: #00c100; }

  /* line 63, /home/arthur/git/website-node/sass/main.scss */
  66.6% {
    border-color: #00c100; }

  /* line 64, /home/arthur/git/website-node/sass/main.scss */
  66.7% {
    border-color: #ff6633; }

  /* line 65, /home/arthur/git/website-node/sass/main.scss */
  100% {
    border-color: #ff6633; } }

/*** Brand ***/
/* line 69, /home/arthur/git/website-node/sass/main.scss */
.navbar-brand {
  padding-top: 0;
  font-size: 1.9em;
  font-family: 'helvetica lt';
  color: #222 !important; }

/* line 75, /home/arthur/git/website-node/sass/main.scss */
.navbar-brand.name {
  padding-top: 19px;
  margin-right: 12px;
  font-family: 'helvetica'; }

/* line 80, /home/arthur/git/website-node/sass/main.scss */
.navbar-brand img {
  width: 50px;
  border-radius: 50%; }

/* line 81, /home/arthur/git/website-node/sass/main.scss */
.navbar-right li {
  padding-left: 6px;
  margins: 0px; }

/* line 88, /home/arthur/git/website-node/sass/main.scss */
.navbar-nav .p.active, .navbar-nav .p.active:hover, .navbar-nav .p.active:focus, .navbar-nav .p.active:visited {
  background-color: #3399ff;
  color: #fff; }

/* line 95, /home/arthur/git/website-node/sass/main.scss */
.navbar-nav .e.active, .navbar-nav .e.active:hover, .navbar-nav .e.active:focus, .navbar-nav .e.active:visited {
  background-color: #00c100;
  color: #fff; }

/* line 102, /home/arthur/git/website-node/sass/main.scss */
.navbar-nav .c.active, .navbar-nav .c.active:hover, .navbar-nav .c.active:focus, .navbar-nav .c.active:visited {
  background-color: #ff6633;
  color: #fff; }

/* line 107, /home/arthur/git/website-node/sass/main.scss */
button {
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s; }

/* line 111, /home/arthur/git/website-node/sass/main.scss */
.form-group .fa-search {
  margin-right: 4px;
  font-size: 1.2em;
  height: 32px;
  width: 32px;
  text-align: center;
  line-height: 32px;
  text-decoration: none; }

/*** Links ***/
/* line 122, /home/arthur/git/website-node/sass/main.scss */
a {
  color: #3399ff;
  text-decoration: none; }

/* line 123, /home/arthur/git/website-node/sass/main.scss */
a:hover {
  color: #2375c7; }

/*** Forms and Buttons ***/
/* line 126, /home/arthur/git/website-node/sass/main.scss */
.form-control, .btn {
  border-radius: 0;
  box-shadow: none; }

/* line 130, /home/arthur/git/website-node/sass/main.scss */
.form-control:focus, .btn:focus {
  border-color: #3399ff;
  box-shadow: none; }

/* line 134, /home/arthur/git/website-node/sass/main.scss */
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.activhtml, body {
  width: 100%;
  height: 100%; }

/*** LOADER ***/
/* line 140, /home/arthur/git/website-node/sass/main.scss */
.loader {
  -webkit-animation: spin 1.2s linear infinite;
  border: 3px solid transparent;
  border-radius: 50%;
  height: 50px;
  margin: 0 auto;
  position: relative;
  width: 50px; }
  /* line 149, /home/arthur/git/website-node/sass/main.scss */
  .loader div {
    border: inherit;
    border-radius: inherit;
    bottom: -3px;
    left: -3px;
    position: absolute;
    right: -3px;
    top: -3px; }
  /* line 159, /home/arthur/git/website-node/sass/main.scss */
  .loader :nth-child(1) {
    -webkit-animation: spin 1s linear infinite;
    border-top-color: #ff6633;
    transform: rotate(120deg); }
  /* line 165, /home/arthur/git/website-node/sass/main.scss */
  .loader :nth-child(2) {
    -webkit-animation: spin 2s linear infinite;
    border-top-color: #00c100;
    transform: rotate(240deg); }
  /* line 171, /home/arthur/git/website-node/sass/main.scss */
  .loader :nth-child(3) {
    -webkit-animation: spin 1.2s linear infinite;
    border-top-color: #3399ff; }

@-webkit-keyframes spin {
  /* line 178, /home/arthur/git/website-node/sass/main.scss */
  0% {
    transform: rotate(0deg); }

  /* line 181, /home/arthur/git/website-node/sass/main.scss */
  100% {
    transform: rotate(360deg); } }

/*** SEARCH BOX ***/
/* line 188, /home/arthur/git/website-node/sass/main.scss */
input[type=search] {
  width: 0px !important;
  opacity: 0;
  cursor: default;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

/* line 196, /home/arthur/git/website-node/sass/main.scss */
input[type=search]:focus {
  width: 200px !important;
  opacity: 1;
  cursor: text; }

/*# sourceMappingURL=main.css.map */
