$col-blue: #3399ff;
$col-blue-link: #2375c7;
$col-green: #00c100;
$col-green-link: #009300;
$col-orange: #ff6633;
$col-orange-link: #cc5026;

$col-current: #3399ff;
$col-current-1: #00c100;
$col-current-2: #ff6633;

$col-gray-light: #eee;
$col-gray-xlight: #f8f8f8;

body {
  background-color: $col-gray-xlight;
  font-family: 'helvetica';
}

h1 {
  font-family: 'helvetica th';
}
h2 {
  font-family: 'helvetica hv';
}

.container { overflow: hidden!important; }

/*** Navbar ***/
.navbar {
  background-color: #fff;
  width: 100%;
}
.navbar-border {
  border: 2px solid $col-blue;
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding: 0;
}
.navbar .navbar-load {
  border: 2px solid transparent;
  margin: 0 auto;
  position: relative;
  width: 50%;
  padding: 0;
  margin-top: -4px;
}
.navbar.load .navbar-load { -webkit-animation: loadbar 2s linear infinite; }
.navbar.load .navbar-border { -webkit-animation: loadcolor 2s linear infinite; }
@-webkit-keyframes loadbar {
  0% { border-color: $col-green; width: 0%; }
  33.3% { border-color: $col-green; width: 100%; }
  33.4% { border-color: $col-orange; width: 0%; }
  66.6% { border-color: $col-orange; width: 100%; }
  66.7% { border-color: $col-blue; width: 0%; }
  100% { border-color: $col-blue; width: 100%; }
}
@-webkit-keyframes loadcolor {
  0% { border-color: $col-blue; }
  33.3% { border-color: $col-blue;  }
  33.4% { border-color: $col-green; }
  66.6% { border-color: $col-green; }
  66.7% { border-color: $col-orange; }
  100% { border-color: $col-orange; }
}

/*** Brand ***/
.navbar-brand {
  padding-top: 0;
  font-size: 1.9em;
  font-family: 'helvetica lt';
  color: #222!important;
}
.navbar-brand.name {
  padding-top: 19px;
  margin-right: 12px;
  font-family: 'helvetica';
}
.navbar-brand img { width: 50px; border-radius: 50%; }
.navbar-right li {
  padding-left: 6px;
  margins: 0px;
}
.navbar-nav .p.active,
.navbar-nav .p.active:hover,
.navbar-nav .p.active:focus,
.navbar-nav .p.active:visited {
  background-color: $col-blue;
  color: #fff;
}
.navbar-nav .e.active,
.navbar-nav .e.active:hover,
.navbar-nav .e.active:focus,
.navbar-nav .e.active:visited {
  background-color: $col-green;
  color: #fff;
}
.navbar-nav .c.active,
.navbar-nav .c.active:hover,
.navbar-nav .c.active:focus,
.navbar-nav .c.active:visited {
  background-color: $col-orange;
  color: #fff;
}

button {
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}
.form-group .fa-search {
  margin-right: 4px;
  font-size: 1.2em;
  height: 32px;
  width: 32px;
  text-align: center;
  line-height: 32px;
  text-decoration: none;
}

/*** Links ***/
a { color: $col-blue; text-decoration: none; }
a:hover { color: $col-blue-link; }

/*** Forms and Buttons ***/
.form-control, .btn {
  border-radius: 0;
  box-shadow: none;
}
.form-control:focus, .btn:focus {
  border-color: $col-current;
  box-shadow: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.activhtml, body {
  width: 100%;
  height: 100%;
}

/*** LOADER ***/
.loader {
  -webkit-animation: spin 1.2s linear infinite;
  border: 3px solid transparent;
  border-radius: 50%;
  height: 50px;
  margin: 0 auto;
  position: relative;
  width: 50px;
  
  div {
    border: inherit;
    border-radius: inherit;
    bottom: -3px;
    left: -3px;
    position: absolute;
    right: -3px;
    top: -3px;
  }
  
  :nth-child(1) {
    -webkit-animation: spin 1s linear infinite;
    border-top-color: $col-orange;
    transform: rotate(120deg);
  }
  
  :nth-child(2) {
    -webkit-animation: spin 2s linear infinite;
    border-top-color: $col-green;
    transform: rotate(240deg);
  }
  
  :nth-child(3) {
    -webkit-animation: spin 1.2s linear infinite;
    border-top-color: $col-blue;
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*** SEARCH BOX ***/
input[type=search] {
  width: 0px!important;
  opacity: 0;
  cursor: default;

  -webkit-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
  width: 200px!important;
  opacity: 1;
  cursor: text;
}
