<!-- Navbar -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <!-- Triple bar icon -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- Brand -->
          <a class="navbar-brand" href="#">
<!--        <img alt="Me" src="img/logo.png">-->
            Arthur Pachachura
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

          <!-- TRIPLEBAR - LEFT SIDE -->
          <!-- SEARCH - LEFT SIDE - only Desktop size -->

          <!-- Left-side items -->
<!--
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li class="active"><a href="#">Docs</a></li>
          </ul>
-->
          <!-- Right-side items -->
          <ul class="nav navbar-nav navbar-right">
            <!-- Search box -->
            <li class="active"><a href="#">Profile</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<!-- OLD
     {% for page in site.pages %}
     {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
     {% endfor %} -->
