<html>
  <head>
    <title><%= title %></title>
    <link href='../style.css' rel='stylesheet' />
  </head>
  <body>
    <div class='page'>
      <div class='header'>
        <h1><a href='../'><%= name %></a></h1>
        <h2><%= description %></h2>
      </div>
      <div class='readme'>
        <%= doc %>
      </div>
      <div class='footer'>
        &copy; <%= year %>
        <% if (authorUrl) { %>
          <a href='<%=authorUrl%>'><%= authorName %></a>
        <% } else { %>
          <%= authorName %>
        <% } %>
      </div>
    </div>
  </body>
</html>
