body {
  font: 13px/20px 'Helvetica Neue', 'Helvetica', sans-serif;
  color:#03252C;
  margin:40px 0;
}

pre, code {
  font: 12px/20px 'Bitstream Vera Sans Mono','Courier',monospace;
}

a {
  text-decoration:none;
  color:#00819B;
}

a:hover {
  text-decoration:underline;
}

.page {
  width:700px;
  margin:0 auto;
}

.header {
  padding:10px 0;
  border-bottom:1px dashed <%= baseColor %>;
}

.footer {
  padding:10px 0;
  border-top:1px dashed <%= baseColor %>;
}

.footer .copyright {
  float:left;
}

.footer div.contributors {
  float:right;
  text-align:right;
}

.footer h4 {
  margin:0;
}

.footer div.block {
  width:200px;
}

.footer ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

.footer ul li {
  display:inline;
  margin:4px;;
  padding:0;
  background:#f3f3f3;
}

.header h1, h2 {
  font-size:16px;
  line-height:20px;
  display:inline;
}

.header h1 {
  padding:5px;
  background-color:<%= baseColor %>;
  margin-right:10px;
  color:#fff;
}

.header h1 a {
  color:#fff;
}

.npm-install {
  background:<%= lightColor %>;
  padding:10px;
}

.npm-install code {
  background:#fff;
  padding:4px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}

.readme code {
  background:#DBF5FF;
  padding:3px;
}

.readme pre code {
  background:transparent;
  padding:0;
}
.readme pre {
  padding:5px;
  background:#F0FBFF;
  border:1px solid #DBF5FF;
  overflow:auto;
}

h1, h2, h3 {
  font-size:16px;
  line-height:20px;
}

h1 { font-size:18px; }
h2 { font-size:16px; }
h3 { font-size:14px; }

.header .licenses {
  float:right;
}

.header .licenses .license {
  background:#F3F3F3;
  padding:3px;
}
