body {
  background-color: #f2f2f2;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #333;
}

h1 {
	font-size: 40px;
}

h2 {
    font-size: 26px;
}

h3 {
	color: #95a5a6;
	font-weight: 400;
}

h4 {
	color: #95a5a6;
	font-weight: 400;
	font-size: 20px;
}

/* Paragraph */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #669900;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #99cc00;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* Header */

.header {
  background-color: rgba(242, 242, 242, 0.0);
  padding-bottom: 24px;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  color: #000;
  z-index: 9999;
}

.header-nav > li {
  display: inline-block;
  float: none;
  height: 20px;
}
.header-nav > li + li {
  margin-left: 6px;
}
.header-nav > li > a {
  height: 48px;
  width: 32px;
  padding-right: 0;
  padding-left: 0;
  font-size: 24px;
  font-weight: bold;
  color: #95a5a6; /* IE8 proofing */
  border-bottom: 2px solid transparent;
}
.header-nav > li > a:hover,
.header-nav > li > a:focus {
  color: #777; /* IE8 proofing */
  background-color: transparent;
  border-bottom-color: rgba(119, 119, 119, 0.75);
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
.header-nav > .active > a,
.header-nav > .active > a:hover,
.header-nav > .active > a:focus {
  color: #000;
  border-bottom-color: #000;
}

.navbar-default {
	background-color: rgba(242, 242, 242, 0.7);
	border-color: transparent;
}

.navbar-default .navbar-brand {
	color: black;
}

.navbar-default .navbar-nav > li > a {
	color: black;
}

/* Helpers */

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}

.form-control {
	height: 42px;
	font-size: 18px;
	width: 280px;
}

i {
	margin: 8px;
	color: #3498db; 
}

/* SPECIFIC CONTROLS */

/* Hero */
#heroslide {
	/* background: url(../img/bg01.jpg) no-repeat center top; */
	background: url('../img/possible/Alaska Vacation May 2009 101.jpg');
    background-size: cover;
    display: block;
	padding-top: 100px;
	background-attachment: scroll;
	background-position: center center;
	width: 100%;
    -webkit-filter: blur(0px);
    z-index: 1;
}

#herotext {
    margin-bottom: 60px;
	color: white;
	font-size: 60px;
	font-weight: 300;
	letter-spacing: 1px;
    text-align: center;
    width: 100%;
    display: inline-block;
}

#herocircle {
  top: -70px;
  text-align: center;
  position: relative;
  display: block;
  width: 100%;
  z-index: 2;
}
#heropic {
  border-width: 4px;
  border-color: #f2f2f2;
  border-style: solid;
  border-radius: 50%;
  width: 140px;
}